HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/static/css/animate.css
src/main/resources/static/css/bootstrap.min.css
src/main/resources/static/css/bootstrap/.DS_Store
src/main/resources/static/css/bootstrap/_media.css
src/main/resources/static/css/bootstrap/mixins/.DS_Store
src/main/resources/static/css/bootstrap/mixins/_alert.css
src/main/resources/static/css/bootstrap/mixins/_border-radius.css
src/main/resources/static/css/bootstrap/mixins/_box-shadow.css
src/main/resources/static/css/bootstrap/mixins/_grid.css
src/main/resources/static/css/bootstrap/mixins/_screen-reader.css
src/main/resources/static/css/bootstrap/mixins/_visibility.css
src/main/resources/static/css/bootstrap/utilities/_stretched-link.css
src/main/resources/static/css/bootstrap/utilities/_visibility.css
src/main/resources/static/css/custom.css
src/main/resources/static/css/profile.css
src/main/resources/static/css/server_error.css
src/main/resources/static/css/style.css
src/main/resources/static/css/templatemo-video-catalog.css
src/main/resources/static/fontawesome/css/all.min.css
src/main/resources/static/fontawesome/LICENSE.txt
src/main/resources/static/fontawesome/webfonts/fa-brands-400.eot
src/main/resources/static/fontawesome/webfonts/fa-brands-400.svg
src/main/resources/static/fontawesome/webfonts/fa-brands-400.ttf
src/main/resources/static/fontawesome/webfonts/fa-brands-400.woff
src/main/resources/static/fontawesome/webfonts/fa-brands-400.woff2
src/main/resources/static/fontawesome/webfonts/fa-regular-400.eot
src/main/resources/static/fontawesome/webfonts/fa-regular-400.svg
src/main/resources/static/fontawesome/webfonts/fa-regular-400.ttf
src/main/resources/static/fontawesome/webfonts/fa-regular-400.woff
src/main/resources/static/fontawesome/webfonts/fa-regular-400.woff2
src/main/resources/static/fontawesome/webfonts/fa-solid-900.eot
src/main/resources/static/fontawesome/webfonts/fa-solid-900.svg
src/main/resources/static/fontawesome/webfonts/fa-solid-900.ttf
src/main/resources/static/fontawesome/webfonts/fa-solid-900.woff
src/main/resources/static/fontawesome/webfonts/fa-solid-900.woff2
src/main/resources/static/fonts/.DS_Store
