<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <link rel="stylesheet" href="../static/css/server_error.css" type="text/css"/>
</head>
<body>
  <div>
      <div>
          <span class='error-num'>5</span>
          <div class='eye'></div>
          <div class='eye'></div>
          <p class='sub-text'>Oh We're sorry! Something went wrong. We're <i>looking</i> to see what happened.</p>
          <a href='/MIS-TALKS/home'>Go back to Home page</a>
      </div>
    <script src="../static/js/server_error.js"></script>
  </div>
</body>
</html>